body{
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

body h1{
  font-size: 44px;
  font-weight: bolder;
}

.grid-container{
  background-color:#e0bbe5;
  opacity: 85%;
  text-align:center;
  margin: 100px;
  padding: 50px;
  font-family:'Segoe UI';
  font-size: 20px;
}

#submit{
  background-color:#e0bbe5;
  font-weight: bold;
  margin: 10px;
}
.box{
  background-color:#ffdfd3; 
  border: 10px ;
  padding: 100px;
  margin: 50px;
  align-items: center;
}

form h5{
  padding-top: 30px;
  line-height:30px;
}
form label{
  padding-top: 10px;
  padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .box{
    background-color:#ffdfd3; 
    padding: 10px;
    margin: 2px;
    align-items: center;
  }
  .grid-container{
    background-color:#e0bbe5;
    opacity: 85%;
    text-align:center;
    margin: 30px;
    padding: 20px;
    font-family:'Segoe UI';
    font-size: 20px;
  }
}